In [99]:
import numpy as np
import pandas as pd
import sklearn as sk

In [100]:
features = pd.read_csv('hb_train_feature.csv')
truths = pd.read_csv('hb_train_truth.csv')
truths.head()

         f1        f2        f3  action
0  0.868421  0.078947  0.052632     1.0
1  0.300000  0.550000  0.150000     2.0
2  0.450000  0.000000  0.550000     3.0
3  0.421053  0.157895  0.421053     1.0
4  0.125000  0.550000  0.325000     2.0

In [101]:
# add features to data

In [102]:
# splits into training and test sets
X_training, X_test = sk.model_selection.train_test_split(features)
y_training, y_test = truths[['f1', 'f2', 'f3']].loc[X_training.index], truths[['f1', 'f2', 'f3']].loc[X_test.index]

# standardizes features 
scaler = sk.preprocessing.StandardScaler()
scaler.fit_transform(X_training)
scaler.transform(X_test)
scaler.transform(X_training)
X_training.head()

,r11,r12,r13,r21,r22,r23,r31,r32,r33,c11,c12,c13,c21,c22,c23,c31,c32,c33
86,20.0,90.0,80.0,40.0,30.0,60.0,60.0,70.0,20.0,40.0,90.0,10.0,90.0,60.0,10.0,50.0,30.0,60.0
51,55.0,45.0,10.0,80.0,40.0,25.0,20.0,25.0,100.0,55.0,80.0,20.0,45.0,40.0,25.0,10.0,25.0,100.0
204,50.0,10.0,60.0,20.0,40.0,10.0,90.0,20.0,90.0,60.0,20.0,60.0,20.0,20.0,50.0,30.0,30.0,50.0
26,70.0,5.0,100.0,100.0,55.0,20.0,5.0,60.0,40.0,70.0,100.0,5.0,5.0,55.0,60.0,100.0,20.0,40.0
132,10.0,70.0,90.0,70.0,90.0,40.0,80.0,30.0,90.0,50.0,70.0,80.0,70.0,80.0,90.0,90.0,90.0,60.0

In [106]:
# trains separate neural net to predict each specific player's actions
classifier = sk.neural_network.MLPRegressor(solver='lbfgs', random_state=1, max_iter=1000000000,  verbose=True)
classifier.fit(X_training, y_training)
classifier.score(X_test, y_test)

/Users/lanagor/anaconda2/envs/py38/lib/python3.8/site-packages/sklearn/base.py:426: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  warnings.warn("The default value of multioutput (not exposed in "

-4.212470641626741

In [107]:
# function to test # of top actions predicted correctly
top_actions_test = truths['action'].loc[y_test.index].reset_index(drop=True)
predicted_frequency = pd.DataFrame(classifier.predict(X_test))
predicted_actions = predicted_frequency.idxmax(axis=1).apply(lambda x: x + 1)

# number of correct top-action predictions on test data
(top_actions_test==predicted_actions).value_counts()

False    36
True     27
dtype: int64